# RabbitMQ Configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/

# AWS Athena Configuration (se usar NuclioAthena)
SYNC_DATABASE_ATHENA=your_database
SYNC_BUCKET_S3=your_bucket
SYNC_QUERY_OUTPUT_PREFIX=query-results/
SYNC_LOCAL_DOWNLOAD_PATH=/tmp/
SYNC_AWS_ACCESS_KEY_ID=your_access_key
SYNC_AWS_SECRET_ACCESS_KEY=your_secret_key
SYNC_REGION_NAME=us-east-1
